{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}上海门迪智能科技有限公司{% endblock title %}
{% block stylecss %}
    <style>
        .site-h1 {
            margin-bottom: 20px;
            padding-bottom: 10px;
            color: #393D49;
            border-bottom: 1px solid #eee;
        }
        .layui-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            text-align: center;
        }
        .layui-form-radio {
            line-height: 28px;
            margin: 6px 0px 0 0;
            padding-right: 10px;
            cursor: pointer;
            font-size: 0;
        }
    </style>
{% endblock stylecss %}
{% block body %}
    <h1 class="site-h1">官网邮箱</h1>
    <div style="margin: 20px 0px;">
        <div class="layui-row">
            <form class="layui-form" action="">
                <input type="hidden" name="user_id" value="{{ request.session.userid }}">
                <div id="formm" class="layui-col-md8">
                    <div class="layui-col-md8">
                        <div class="layui-form-item">
                            <label class="layui-form-label">下载文件名</label>
                            <div class="layui-input-block">
                                <input type="text" name="table_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align: right">
                        <button class="layui-btn layui-btn-normal layui-btn-sm" lay-submit lay-filter="btn">保存条件</button>
                    </div>
                </div>
            </form>
            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: right">
                    <button class="layui-btn layui-btn-normal layui-btn-sm" id="test">开始爬虫</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block bottomfiles %}
    var param2;
    <script type="text/javascript">
        layui.use(['element','form','upload'], function() {
            var element = layui.element,form=layui.form,upload=layui.upload;
            form.on('submit(btn)', function(data){
                param2 = data.field;
                layer.msg("已保存",{icon: 1,offset: '100px'});
                return false;
            });
            var uploadInst = upload.render({
                elem: '#test' //绑定元素
                ,url: '/spider/spider_email/'//上传接口
                ,accept:"file"
                ,exts:'xls|xlsx'
                ,before:function () {
                    this.data = param2
                }
                ,done: function(res){
                    if(res.errId == '0'){
                        layer.msg("上传成功",{icon: 1,offset: '100px'});
                    }else{
                        layer.msg(data.errMsg,{icon: 2,offset: '100px'});
                    }
                }
                ,error: function(){}
            });
        });

    </script>
{% endblock bottomfiles %}